@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@layer base {
  body {
    background-color: #000;
  }

  h2 {
    @apply font-bold text-xl my-2 text-white sm:text-2xl sm:my-3;
  }
}

@layer components {
  .primary-btn {
    @apply rounded-sm py-2 px-3 text-stone-900 font-semibold cursor-pointer bg-white flex items-center hover:opacity-80;
  }

  .secondary-btn {
    @apply rounded-sm py-2 px-3 text-stone-100 font-semibold cursor-pointer bg-stone-800 flex items-center hover:opacity-80;
  }

  .icon-btn {
    @apply text-white border-stone-500 bg-stone-950 border-[1px] p-2 text-[16px] rounded-full font-bold cursor-pointer;
  }

  .icon-btn:hover {
    @apply bg-white text-stone-950 border-white;
  }

  /* Scrollable content but scroll bar not visible */
  .scrollable {
    @apply overflow-y-scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollable::-webkit-scrollbar {
    display: none;
  }
}
